<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Stock Price Prediction - Login</title>
    <link rel="stylesheet" href="static/css/main.css">
  </head>
  <body>
    <div class="center">
      <h1>Inicio de Sesión</h1>
      <form method="post">
        <div class="txt_field">
          <input type="text" required>
          <span></span>
          <label>Usuario</label>
        </div>
        <div class="txt_field">
          <input type="password" required>
          <span></span>
          <label>Contraseña</label>
        </div>
        <div class="pass">¿Olvidaste la contraseña?</div>
        <input type="submit" value="Login">
        <div class="signup_link">
          ¿No tienes cuenta? <a href="#">Registrate</a>
        </div>
      </form>
    </div>

  </body>
</html>
