<!DOCTYPE html>

<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <title>Stock Price Prediction - SignUp</title>
    <link rel="stylesheet" href="static/css/style.css">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>
<body>
  <div class="container">
    <div class="title">Registro de usuarios</div>
    <div class="content">
      <form action="#">
        <div class="user-details">
          <div class="input-box">
            <span class="details">Nombre completo</span>
            <input type="text" placeholder="Ingrese un nomnre" required>
          </div>
          <div class="input-box">
            <span class="details">Nombre de usuario</span>
            <input type="text" placeholder="Ingrese un nombre de usuario" required>
          </div>
          <div class="input-box">
            <span class="details">Email</span>
            <input type="text" placeholder="Ingrese un email" required>
          </div>
          <div class="input-box">
            <span class="details">Teléfono</span>
            <input type="text" placeholder="Ingrese un teléfono" required>
          </div>
          <div class="input-box">
            <span class="details">Contraseña</span>
            <input type="text" placeholder="Ingrese una contraseña" required>
          </div>
          <div class="input-box">
            <span class="details">Confirmar contraseña</span>
            <input type="text" placeholder="Confirme su contraseña" required>
          </div>
        </div>
        <div class="gender-details">
          <input type="radio" name="gender" id="dot-1">
          <input type="radio" name="gender" id="dot-2">
          <input type="radio" name="gender" id="dot-3">
          <span class="gender-title">Género</span>
          <div class="category">
            <label for="dot-1">
            <span class="dot one"></span>
            <span class="gender">Hombre</span>
          </label>
          <label for="dot-2">
            <span class="dot two"></span>
            <span class="gender">Mujer</span>
          </label>
          <label for="dot-3">
            <span class="dot three"></span>
            <span class="gender">Prefiero no decirlo</span>
            </label>
          </div>
        </div>
        <div class="button">
          <input type="submit" value="Register">
        </div>
      </form>
    </div>
  </div>

</body>
</html>